<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        

</head>
<body>


<div class="w-full h-full bg-zinc-900 p-20">

    <div class="nav mb-5">
        <a class="text-blue-500 " href="/read">Read Users</a>
    </div>

    <form action="/update/<%= user._id %>" method="post" class="space-y-3">
  <input class="px-6 py-3 bg-zinc-800 border-2 border-zinc-800 rounded-lg outline-none text-white" placeholder="Name" type="text" name="name"  value="<%= user.name %>">
  
  <input class="px-5 py-3 bg-zinc-800 border-2 border-zinc-800 rounded-lg outline-none text-white" placeholder="Email" type="text" name="email" value="<%= user.email %>">
  
  <input class="px-5 py-3 bg-zinc-800 border-2 border-zinc-800 rounded-lg outline-none text-white" placeholder="URL" type="text" name="image" value="<%= user.image %>">
  
  <input class="text-xl px-4 py-2 bg-yellow-500 text-black-300 rounded-lg ml-3 text-white cursor-pointer hover:bg-blue-600" type="submit" value="Update User">
</form>



</div>


</body>
</html>