<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs html file</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Setting up ejs index</h1>
    <h1>You want to calculate pretty baby??</h1>

    <h2>Jokes</h2>
    <div class="noofjokes"></div>
    <div class="jokecontent"></div>
 


    
<script src="/javascripts/script.js"></script>

</body>
</html>