#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.page1{
  height: 100vh;
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-color: tomato;
}

/* default cursor */
.mouse {
  height: 25px;
  width: 25px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 
    height 0.25s ease,
    width 0.25s ease,
    background-color 0.25s ease;
    z-index: 999
}

/* expanded cursor */
.mouse.expand {
  height: 80px;
  width: 80px;
  background: rgba(255, 67, 67, 0.893);
  z-index: 999;
}

.section1 {
  height: 60vh;
  width: 50vw;
  background: yellow;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
