@import "tailwindcss";

/* 

.container{
width: 280px;
height: 320px;
background-color: rgb(255, 255, 255);
padding: 10px;
margin: 4px;
border-radius: 8px;

}

.part1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: rgb(191, 188, 188);
  font-size: 10px;
}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(185, 183, 183, 0.678);
}
.save{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 12px;
  border: 1px solid rgb(235, 229, 229);
  border-radius: 6px;
}
.bookmrk{
width: 13px;
}
.part2{
  height: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.company{
  display: flex;
  align-items: center;
}
.Companyname{
  font-size: 15px;
  font-weight: 500;
}
.time{
  font-size: 10px;
  display: flex;
  align-items: center;  
  color: rgb(191, 188, 188);

  margin: 5px 0px 0px 5px;
}
.role{
  font-size: 22px;
  font-weight: 650;
  flex-wrap: nowrap;
  width: 100%;
}
.level{
  display: flex;
  align-items: center;
}
.shift{
  font-size: 12px;
  background-color: rgb(232, 237, 237);
  margin-right: 4px;
  padding: 6px 8px;
  margin-top: 10px;
  border-radius: 6px;
  font-weight: 620;
}

.part3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(204, 201, 201);

}
.rate{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hour{
  font-size: 15px;
  font-weight: 600;
}
.loc{
  font-size: 10px;
  color: rgb(158, 153, 153);
  font-weight:500;

}
.Apply{
  background-color: black;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
  margin-right: 4px;
  font-size: 10px;
  font-weight: 500;
} */

button{
  cursor: pointer;
}