# Backend API Configuration
VITE_BACKEND_BASE_URL=http://localhost:8000

# Cloudinary Configuration
CLOUDINARY_UPLOAD_URL=CLOUDINARY_URL=cloudinary://267828477338187:k8TdoAeOx51IhfjJmuZK-as3nk8@dd1zxvq3x
CLOUDINARY_CLOUD_NAME=dd1zxvq3x
API_Secret = k8TdoAeOx51IhfjJmuZK-as3nk8

VITE_CLOUDINARY_UPLOAD_PRESET=your-upload-preset
