.Hero{
font-size: 40px;
height: 100%;
width: 70%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
margin-top: 80px;
text-align: center;

}
.para{
    font-size: 20px;
}
.Hero>h1:hover{


text-shadow: 11px 11px 21px pink;

transition: all 0.8s ease-out;
}