* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    background-color: black;
    color: white;



}
.nav{
    background-color: rgb(41, 39, 39);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.part2{
    display: flex;
    gap: 30px;
}